Repository keatingw/ml-practice: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, rye-lock

mypy:
  name: mypy
  entry: rye run mypy python
  language: system
  require_serial: false
  pass_filenames: false

rye-lock:
  name: rye lock
  entry: rye lock
  language: system
  require_serial: false
  pass_filenames: false

feat: add native and numpy-driven kmeans implementations
  .gitignore
  pyproject.toml
  python/ml_practice/kmeans/__init__.py
  python/ml_practice/kmeans/native_py.py
  python/ml_practice/kmeans/numpy_py.py
  requirements-dev.lock
  requirements.lock
Due: mypy, rye-lock

feat: add rough rust implementation of kmeans
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/ml_practice/_lowlevel/__init__.pyi
  python/ml_practice/kmeans/__init__.py
  requirements-dev.lock
  requirements.lock
  src/kmeans.rs
  src/lib.rs
Due: mypy, rye-lock

chore: tidy comments into rust code, add dependencies for plotting to test things
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/kmeans.rs
Due: rye-lock

chore: tidy rust kmeans and add seed
  python/ml_practice/_lowlevel/__init__.pyi
  src/kmeans.rs
Due: none

feat: add numpy version of linear regression with analytical solution
  pyproject.toml
  python/ml_practice/kmeans/numpy_py.py
  python/ml_practice/linreg/__init__.py
  python/ml_practice/linreg/numpy_py.py
Due: mypy, rye-lock

chore: clean up flow in rust kmeans
  src/kmeans.rs
Due: none

feat: add native python gradient descent linear regression
  python/ml_practice/linreg/__init__.py
  python/ml_practice/linreg/native_py.py
  python/ml_practice/utils.py
Due: mypy

feat: fix pyo3 with latest version, add matmul func in rust
  Cargo.lock
  Cargo.toml
  src/build.rs
  src/kmeans.rs
  src/lib.rs
  src/main.rs
  src/utils.rs
Due: none

feat: add gradient descent linear regression to rust implementations
  Cargo.lock
  Cargo.toml
  src/kmeans.rs
  src/lib.rs
  src/linreg.rs
  src/utils.rs
Due: none

chore: add testing for different implementations for linreg
  pyproject.toml
  python/ml_practice/_lowlevel/__init__.pyi
  python/ml_practice/linreg/__init__.py
  requirements-dev.lock
  tests/test_linreg.py
Due: mypy, rye-lock

chore: move to uv
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  uv.lock
Due: rye-lock

refactor: move to workspace setup with subpackages for rust and python
  .gitignore
  .pre-commit-config.yaml
  packages/py_algos/.python-version
  packages/py_algos/README.md
  packages/py_algos/pyproject.toml
  packages/py_algos/src/py_algos/__init__.py
  packages/py_algos/src/py_algos/kmeans/__init__.py
  packages/py_algos/src/py_algos/kmeans/native_py.py
  packages/py_algos/src/py_algos/kmeans/numpy_py.py
  packages/py_algos/src/py_algos/linreg/__init__.py
  packages/py_algos/src/py_algos/linreg/native_py.py
  packages/py_algos/src/py_algos/linreg/numpy_py.py
  packages/py_algos/src/py_algos/py.typed
  packages/py_algos/src/py_algos/utils.py
  packages/rs_algos/.gitignore
  packages/rs_algos/Cargo.lock
  packages/rs_algos/Cargo.toml
  packages/rs_algos/py.typed
  packages/rs_algos/pyproject.toml
  packages/rs_algos/rs_algos.pyi
  packages/rs_algos/src/kmeans.rs
  packages/rs_algos/src/lib.rs
  packages/rs_algos/src/linreg.rs
  packages/rs_algos/src/main.rs
  packages/rs_algos/src/utils.rs
  pyproject.toml
  src/build.rs
  src/ml_practice/__init__.py
  uv.lock
Due: mypy, rye-lock

chore: fix test imports after refactor structure
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_linreg.py
Due: mypy, rye-lock

feat: add github action
  .github/workflows/ci.yaml
Due: none

feat: add github action for rust extension
  .github/workflows/rs_ci.yaml
Due: none

feat: add github action (#2)
  .github/workflows/ci.yaml
  .github/workflows/rs_ci.yaml
Due: none

chore: add failing test for rs CI
  packages/rs_algos/src/utils.rs
Due: none

feat(wip): add api package and fix README
  README.md
  packages/ml_api/.python-version
  packages/ml_api/README.md
  packages/ml_api/pyproject.toml
  packages/ml_api/src/ml_api/__init__.py
  packages/ml_api/src/ml_api/app.py
  packages/ml_api/src/ml_api/main.py
  pyproject.toml
  uv.lock
Due: mypy, rye-lock

chore: add py.typed marker
  packages/ml_api/src/ml_api/py.typed
Due: none

feat: initial api setup for linear regression
  packages/ml_api/src/ml_api/app.py
  packages/ml_api/src/ml_api/routers/__init__.py
  packages/ml_api/src/ml_api/routers/kmeans.py
  packages/ml_api/src/ml_api/routers/linreg.py
  packages/rs_algos/rs_algos.pyi
  pyproject.toml
Due: mypy, rye-lock

chore: fix api routes for gradient descent inputs
  packages/ml_api/src/ml_api/routers/linreg.py
  packages/py_algos/src/py_algos/linreg/native_py.py
  packages/rs_algos/src/linreg.rs
Due: mypy

chore: convert root to virtual package
  pyproject.toml
  src/ml_practice/__init__.py
  uv.lock
Due: mypy, rye-lock

feat: add endpoints for kmeans, fix up stubs on rust extension
  .pre-commit-config.yaml
  packages/ml_api/src/ml_api/routers/kmeans.py
  packages/ml_api/src/ml_api/routers/linreg.py
  packages/py_algos/src/py_algos/kmeans/native_py.py
  packages/rs_algos/rs_algos.pyi
Due: mypy

chore: fix test file ignores for ruff config
  pyproject.toml
Due: rye-lock

feat: fix existing tests, add api tests
  packages/ml_api/tests/conftest.py
  packages/ml_api/tests/test_routes_kmeans.py
  packages/ml_api/tests/test_routes_linreg.py
  pyproject.toml
  tests/test_linreg.py
  uv.lock
Due: mypy, rye-lock

chore: change CI flow to run pytest across subpackages
  .github/workflows/ci.yaml
Due: none

Feat/api (#4)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  packages/ml_api/.python-version
  packages/ml_api/README.md
  packages/ml_api/pyproject.toml
  packages/ml_api/src/ml_api/__init__.py
  packages/ml_api/src/ml_api/app.py
  packages/ml_api/src/ml_api/main.py
  packages/ml_api/src/ml_api/py.typed
  packages/ml_api/src/ml_api/routers/__init__.py
  packages/ml_api/src/ml_api/routers/kmeans.py
  packages/ml_api/src/ml_api/routers/linreg.py
  packages/ml_api/tests/conftest.py
  packages/ml_api/tests/test_routes_kmeans.py
  packages/ml_api/tests/test_routes_linreg.py
  packages/py_algos/src/py_algos/kmeans/native_py.py
  packages/py_algos/src/py_algos/linreg/native_py.py
  packages/rs_algos/rs_algos.pyi
  packages/rs_algos/src/linreg.rs
  pyproject.toml
  src/ml_practice/__init__.py
  tests/test_linreg.py
  uv.lock
Due: mypy, rye-lock

chore: fix ruff config
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  packages/ml_api/tests/test_routes_linreg.py
  pyproject.toml
Due: mypy, rye-lock

chore: fix ruff config (#5)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  packages/ml_api/tests/test_routes_linreg.py
  pyproject.toml
Due: mypy, rye-lock

chore: remove unneeded py version markers, use new pep723 group for dev deps
  .pre-commit-config.yaml
  packages/ml_api/.python-version
  packages/py_algos/.python-version
  pyproject.toml
  uv.lock
Due: rye-lock

chore: remove conditional path for PR on rust CI
  .github/workflows/rs_ci.yaml
Due: none

chore: remove unneeded py version markers, use new pep723 group for dev deps (#6)
  .github/workflows/rs_ci.yaml
  .pre-commit-config.yaml
  packages/ml_api/.python-version
  packages/py_algos/.python-version
  pyproject.toml
  uv.lock
Due: rye-lock

chore: enable clippy in rust CI, fix minor points, update cargo deps
  .github/workflows/rs_ci.yaml
  packages/rs_algos/Cargo.lock
  packages/rs_algos/src/kmeans.rs
  packages/rs_algos/src/linreg.rs
  packages/rs_algos/src/main.rs
Due: none

chore: enable clippy in rust CI, fix minor points, update cargo deps (#7)
  .github/workflows/rs_ci.yaml
  packages/rs_algos/Cargo.lock
  packages/rs_algos/src/kmeans.rs
  packages/rs_algos/src/linreg.rs
  packages/rs_algos/src/main.rs
Due: none

Path conditions:
  mypy: any of: ^.*\.py and \.py$
  rye-lock: any of: ^pyproject\.toml$
